<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.myintent">

    <!-- 컴포넌트들을 사용하기 위해 권한을 넣어준다-->
    <uses-permission android:name="android.permission.CALL_PHONE">
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ImplicitIntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!--메인 액티비티의 시작 액션-->
                <category android:name="android.intent.category.LAUNCHER" />
                <!--호출되고 보여줄 수 있는 액티비티-->
            </intent-filter>
        </activity>
    </application>

</manifest>